body{
    width: 98%;
}

hr{
    margin-bottom: 1em;
}

.header{
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.5em;
}

.underTitle{
    width: auto;
    font-size: 0.75em;
    color: #888;
}

.posterPic{
    /*height: 480px;
    width: 343px;*/
    position: absolute;
    margin: 0 1em 1em 1em;
    border: 1px solid #999;
    box-shadow: 4px 4px 10px #999;
}

#otherInformation{
    position: absolute;
    width: 343px;
    margin: 1em;
    margin-top: 520px;
}

#otherInformationTitle{
    font-weight: bold;
}

.MakeBold{
    font-weight: bold;
}

.textBox{
    position: relative;
    left: 390px;
    width: 65%;
}

.synopsisTitle{
    width: auto;
    font-weight: bold;
    border-bottom: 1px solid #999;
    padding: 2px;
}

.synopsisText{
    width: auto;
    margin-top: 1em;
}

#relatedAnime{
    width: auto;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-weight: bold;
}

.relatedAnimeList{
    list-style: none;
}

.relatedAnimeList ul{
    display: inline;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    border: 1px #555 solid;
    transition: all 200ms;
}

.relatedAnimeList a:link, a:visited{
    text-decoration: none;
    color: #000;
}

.relatedAnimeList .current{
    background-color: #555;
    color: #DDD;
}

.relatedAnimeList .other{
    transition: all 500ms;
}

.relatedAnimeList .other:hover{
    background-color: #EEE;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px #555 solid;
}

td{
    min-width: 150px;
    /*border-bottom: 1px #555 solid;*/
}

#trailerBox{
    margin: 2em 0;
}

img{
    vertical-align: bottom;
}